@model IEnumerable<AllPointsTransport.Models.WorkOrder>
   

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<p>

    @Html.ActionLink("Create New", "Create")
</p>
<table  border="1" class="table table-striped table-bordered table-hover" id="datatable" >
    <thead>
        <tr style="border-color:blue">
            <th>
                @Html.DisplayNameFor(model => model.WorkOrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoicedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Broker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetTurn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chassis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChassisProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterBOL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApptNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PieceCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commodity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfMove)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageLFD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerDiemLFD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cutoff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApptTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutgateReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngateReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyNotification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotesInvoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotesPrivate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedProNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoSymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BilledAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedByDispatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RejectedByDispatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POD1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POD2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BOL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uploaded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>

            <th></th>
        </tr>
    </thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr style="background-color:azure; align-content:center">
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderNo)
            </td>
            <td>

                @Html.CheckBoxFor(modelItem => item.Completed.Value)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoicedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Broker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Container1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seal)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.StreetTurn.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chassis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChassisProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterBOL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PieceCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commodity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentReturn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfMove)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageLFD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerDiemLFD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cutoff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Container2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutgateReceipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngateReceipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadyNotification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotesInvoice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotesPrivate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ETA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedProNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoSymbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BilledAmount)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.AcceptedByDispatch.Value)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.RejectedByDispatch.Value)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.POD1.Value)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.POD2.Value)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.BOL.Value)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Uploaded.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.WorkOrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkOrderID })
            </td>
        </tr>
    
    };
    </tbody>
</table>


@section scripts
{

<link rel="stylesheet" type="text/css"
      href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
 
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
</script>

}